<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <h3>Hello, my name is Dustin Trinh</h3>
    <p>I am majoring in Software Engineering with an emphasis in Web Development and Design. I want to solve a single problem in the world, BAD WEBSITES. I know that's a near impossible task, but I want everyone to have a good experience when going on smaller or bigger companiy sites. Ultimately, I'm just an average guy trying to learn how to code! </p>
    
    <h3>My Hobbies</h3>
    <ul>
        <li>Weightlifting</li>
        <li>Tennis</li>
        <li>Eating</li>
        <li>Smoking on the Traeger</li>
    </ul>

    <img src="/images/angels-landing-hike.jpg" alt="Me hiking Angel Landing in Zion National Park" width=400px height=500px>
</body>
</html>