<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<link rel="stylesheet" href="/css/catalog.css">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Course Catalog</a></li>
                <!-- Getting rid of for transition to MVC model  -->
                <!-- <li><a href="/products">Products</a></li> -->
                <li><a href="/demo">Middleware Demo</a></li>
            </ul>
        </nav>
        <%- greeting %>
    </header>
    <body class=<%= bodyClass %>></body>